.card {
    border: none;
    -webkit-box-shadow: 0px 1px 13px 1px rgba(134,136,153,1);
    -moz-box-shadow: 0px 1px 13px 1px rgba(134,136,153,1);
    box-shadow: 0px 1px 13px 1px rgba(134,136,153,1);
}
@import './Reusable_Components';
@import './Home/Home';
@import './Header_Footer';
@import './Register_Login';